body {
    padding: 32px;
}

.layout{
    display: flex;
    gap: 32px;
}

.sidebar {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.home-container {
    display:flex;
    height: 100vh;
    padding: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
}